{% extends 'layout.html' %}

{% block content %}

 	<!--banner-->	
		    <div class="banner">
		    	<h2>
			<a href="index.html">Home</a>
			<i class="fa fa-angle-right"></i>
				<span>Gallery</span>
				</h2>
		    </div>
		<!--//banner-->
 	 <!--gallery-->
 	 <div class="gallery">
 	 	<div class="col-md">
 	 		<div class="gallery-img">
 	 		<a href="images/ga.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Image Title" >
				 <img class="img-responsive " src="/static/images/ga.jpg" alt="" />   
					<span class="zoom-icon"> </span> </a>
			</a>
			</div>	
 	 		<div class="text-gallery">
 	 			<h6>Lorem ipsum</h6>
 	 		</div>
 	 	</div>
 	 	<div class="col-md">
 	 		<div class="gallery-img">
 	 		<a href="images/ga1.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Image Title" >
				 <img class="img-responsive " src="/static/images/ga1.jpg" alt="" />   
					<span class="zoom-icon"> </span> </a>
			</a>
			</div>	
 	 		<div class="text-gallery">
 	 			<h6>Lorem ipsum</h6>
 	 		</div>
 	 	</div>
 	 	<div class="col-md">
 	 		<div class="gallery-img">
 	 		<a href="images/ga2.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Image Title" >
				 <img class="img-responsive " src="/static/images/ga2.jpg" alt="" />   
					<span class="zoom-icon"> </span> </a>
			</a>
			</div>	
 	 		<div class="text-gallery">
 	 			<h6>Lorem ipsum</h6>
 	 		</div>
 	 	</div>
 	 	<div class="col-md">
 	 		<div class="gallery-img">
 	 		<a href="images/ga3.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Image Title" >
				 <img class="img-responsive " src="/static/images/ga3.jpg" alt="" />   
					<span class="zoom-icon"> </span> </a>
			</a>
			</div>	
 	 		<div class="text-gallery">
 	 			<h6>Lorem ipsum</h6>
 	 		</div>
 	 	</div>
 	 	<div class="col-md">
 	 		<div class="gallery-img">
 	 		<a href="images/ga4.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Image Title" >
				 <img class="img-responsive " src="/static/images/ga4.jpg" alt="" />   
					<span class="zoom-icon"> </span> </a>
			</a>
			</div>	
 	 		<div class="text-gallery">
 	 			<h6>Lorem ipsum</h6>
 	 		</div>
 	 	</div>
 	 	<div class="col-md">
 	 		<div class="gallery-img">
 	 		<a href="images/ga5.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Image Title" >
				 <img class="img-responsive " src="/static/images/ga5.jpg" alt="" />   
					<span class="zoom-icon"> </span> </a>
			</a>
			</div>	
 	 		<div class="text-gallery">
 	 			<h6>Lorem ipsum</h6>
 	 		</div>
 	 	</div>
 	 	<div class="col-md">
 	 		<div class="gallery-img">
 	 		<a href="images/ga6.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Image Title" >
				 <img class="img-responsive " src="/static/images/ga6.jpg" alt="" />   
					<span class="zoom-icon"> </span> </a>
			</a>
			</div>	
 	 		<div class="text-gallery">
 	 			<h6>Lorem ipsum</h6>
 	 		</div>
 	 	</div>
 	 	<div class="col-md">
 	 		<div class="gallery-img">
 	 		<a href="images/ga7.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Image Title" >
				 <img class="img-responsive " src="/static/images/ga7.jpg" alt="" />   
					<span class="zoom-icon"> </span> </a>
			</a>
			</div>	
 	 		<div class="text-gallery">
 	 			<h6>Lorem ipsum</h6>
 	 		</div>
 	 	</div>
 	 	<div class="col-md">
 	 		<div class="gallery-img">
 	 		<a href="images/ga8.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Image Title" >
				 <img class="img-responsive " src="/static/images/ga8.jpg" alt="" />   
					<span class="zoom-icon"> </span> </a>
			</a>
			</div>	
 	 		<div class="text-gallery">
 	 			<h6>Lorem ipsum</h6>
 	 		</div>
 	 	</div>
 	 	<div class="col-md">
 	 		<div class="gallery-img">
 	 		<a href="images/ga2.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Image Title" >
				 <img class="img-responsive " src="/static/images/ga2.jpg" alt="" />   
					<span class="zoom-icon"> </span> </a>
			</a>
			</div>	
 	 		<div class="text-gallery">
 	 			<h6>Lorem ipsum</h6>
 	 		</div>
 	 	</div>
 	 	<div class="col-md">
 	 		<div class="gallery-img">
 	 		<a href="images/ga4.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Image Title" >
				 <img class="img-responsive " src="/static/images/ga4.jpg" alt="" />   
					<span class="zoom-icon"> </span> </a>
			</a>
			</div>	
 	 		<div class="text-gallery">
 	 			<h6>Lorem ipsum</h6>
 	 		</div>
 	 	</div>
 	 	<div class="col-md">
 	 		<div class="gallery-img">
 	 		<a href="images/ga1.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Image Title" >
				 <img class="img-responsive " src="/static/images/ga1.jpg" alt="" />   
					<span class="zoom-icon"> </span> </a>
			</a>
			</div>	
 	 		<div class="text-gallery">
 	 			<h6>Lorem ipsum</h6>
 	 		</div>
 	 	</div>
 	 	
 	 	 <div class="clearfix"> </div>
 	 </div>
	<!--//gallery-->
		<!---->

{% endblock %}